@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: sans-serif;
  display: block;
  min-height: 100vh;
}

/*Sass*/
/*Variables*/
/*mediaquaries*/
@media (max-width: 1020px) {
  header {
    flex-direction: column;
  }
  .navlist {
    padding: 10px 0px;
  }
  .sobre-nosotros-text {
    font-size: 10px;
  }
  .sobrenosotros {
    display: block;
  }
}
@media (max-width: 900px) {
  .info-producto h2 {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  header {
    position: relative;
  }
  .logo {
    display: none;
    position: absolute;
    left: 0px;
  }
  .icon {
    opacity: 100;
    cursor: pointer;
    padding-top: 10px;
  }
  .navlist {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: -255px;
    z-index: -1;
    right: 0px;
    background-color: rgba(110, 106, 106, 0.8274509804);
    opacity: 0;
    /* display: none; */
    transition: 200ms;
  }
  .checkbox:checked ~ .navlist {
    display: flex;
    opacity: 100;
    top: 70px;
    z-index: 1;
  }
  .imagen_moti {
    width: 100%;
    height: 100%;
  }
  .info-producto h2 {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .info-producto h2 {
    font-size: 15px;
  }
  .ind-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .imagen_moti {
    width: 100%;
    height: 100%;
  }
  .marcas {
    width: 400px;
    height: 230px;
  }
}
@media (max-width: 400px) {
  .navlist {
    display: flex;
    flex-direction: column;
  }
  .ind-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .logo {
    width: 180px;
  }
  .marcas {
    width: 300px;
    height: 130;
  }
}
@media (max-width: 200px) {
  .navlist {
    display: flex;
    flex-direction: column;
  }
  .ind-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .logo {
    width: 180px;
  }
}
/*Barra de navegación*/
.navbar {
  background-color: rgba(110, 106, 106, 0.8274509804);
}

.nb {
  padding-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
  width: 180px;
  max-width: 50rem;
  padding: 10px;
  padding-right: 35px;
  padding-left: 14px;
  color: black;
}

.carousel {
  padding: 30px;
}

.titulo {
  margin-top: 2rem;
  background-color: rgba(170, 170, 170, 0.3882352941);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: capitalize;
}

.titulo {
  text-align: center;
}

.subtitulo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

.imagen_inicio {
  width: 85%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  display: flex;
  padding: 20px;
  margin: auto;
}

/*productos-main*/
.ind-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.info-producto {
  text-align: center;
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: none;
  max-width: 100%;
  padding-bottom: 120px;
}

.info-producto h2 {
  font-size: 30px;
}

.precio {
  font-size: 18px;
  font-weight: 900;
  min-width: none;
  max-width: 100%;
}

.info-producto button {
  border: none;
  background: none;
  background-color: #000000;
  color: white;
  padding: 15px 10px;
  cursor: pointer;
  min-width: none;
  max-width: 100%;
}

/*Imagenes varias*/
.imagen_moti {
  justify-content: center;
  align-items: center;
  min-width: none;
  max-width: 100%;
  padding: 25px 50px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagen_producto {
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  min-width: none;
  max-width: 100%;
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagen_producto:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.sobrenosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}

.sobre-nosotros-img {
  width: 50%;
  padding-top: 15px;
  box-shadow: 0 25px 20px rgba(0, 0, 0, 0.434);
}

.marcas-ce {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
}

.marcas {
  display: flex;
  width: 550px;
  height: auto;
  align-items: center;
  padding-bottom: 60px;
}

.marcas img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5 ease;
}

.marcas img:hover {
  opacity: 1;
  filter: contrast(120%);
}

/* parafo */
.texto1 {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.subtitulo1 {
  text-transform: capitalize;
  font-weight: 1000;
}

.texto1 h1 {
  font-weight: 900;
  border-bottom: 2px solid rgb(0, 0, 0);
  display: inline-block;
}

.texto1 p {
  padding-top: 20px;
  font-weight: 550;
}

.texto2 {
  padding-bottom: 15px;
  padding-top: 30px;
  text-align: center;
  background-color: rgba(118, 113, 113, 0.3137254902);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.699);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}

.texto2 p {
  font-weight: 700;
}

.sobrenosotros-titulo {
  padding-top: 25px;
}

.sobre-nosotros-text {
  font-size: 18px;
  padding-bottom: 15px;
  padding-top: 30px;
  padding-right: 20px;
  text-align: left;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

.marcas-titulo {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  background-color: rgba(110, 106, 106, 0.3137254902);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.373);
  padding: 20px 10px;
}

.sobre-nosotros-titulo {
  padding-bottom: 15px;
  padding-top: 30px;
  text-align: center;
  background-color: rgba(110, 106, 106, 0.3137254902);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.699);
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 1000;
}

/* footer*/
.fr {
  padding-top: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: rgba(110, 106, 106, 0.8274509804);
  padding: 60px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 10px;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #dadada;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: white;
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(19, 19, 19, 0.2);
  margin: 0 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}

.social-link a:hover {
  background-color: rgba(14, 14, 14, 0.8274509804);
}

/*media quaries*/
@media (max-width: 1020px) {
  header {
    flex-direction: column;
  }
  .navlist {
    padding: 10px 0px;
  }
  .sobre-nosotros-text {
    font-size: 10px;
  }
  .sobrenosotros {
    display: block;
  }
}
@media (max-width: 900px) {
  .info-producto h2 {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  header {
    position: relative;
  }
  .logo {
    display: none;
    position: absolute;
    left: 0px;
  }
  .icon {
    opacity: 100;
    cursor: pointer;
    padding-top: 10px;
  }
  .navlist {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: -255px;
    z-index: -1;
    right: 0px;
    background-color: rgba(110, 106, 106, 0.8274509804);
    opacity: 0;
    /* display: none; */
    transition: 200ms;
  }
  .checkbox:checked ~ .navlist {
    display: flex;
    opacity: 100;
    top: 70px;
    z-index: 1;
  }
  .imagen_moti {
    width: 100%;
    height: 100%;
  }
  .info-producto h2 {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .info-producto h2 {
    font-size: 15px;
  }
  .ind-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .imagen_moti {
    width: 100%;
    height: 100%;
  }
  .marcas {
    width: 400px;
    height: 230px;
  }
}
@media (max-width: 400px) {
  .navlist {
    display: flex;
    flex-direction: column;
  }
  .ind-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .logo {
    width: 180px;
  }
  .marcas {
    width: 300px;
    height: 130;
  }
}
@media (max-width: 200px) {
  .navlist {
    display: flex;
    flex-direction: column;
  }
  .ind-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .logo {
    width: 180px;
  }
}
.video_inicio {
  display: grid;
  place-items: center;
  padding-top: 40px;
}

.video {
  width: 85%;
  height: auto;
  padding-bottom: 40px;
}

.logos_zapas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.logotipo {
  width: 40%;
}

.form {
  background: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.form__title {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form__group {
  position: relative;
  color: rgba(110, 106, 106, 0.8274509804);
}

.form__input {
  width: 100%;
  background: none;
  color: black;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(110, 106, 106, 0.8274509804);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: black;
}

.form__label {
  color: rgba(110, 106, 106, 0.8274509804);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form__submit {
  background-color: #c4b9b9;
  color: #fff;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  font-weight: 300;
}

/*animaciones*/
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.producto {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animnation-fill-mode: both;
}

/*# sourceMappingURL=estilos.css.map */
