/*Sass*/
/*Variables*/
$pocicion:center;
$espacios: 20px;
$color--primario: #6e6a6ad3;
$color--secundario: black;
$color--fondo: #fff;
$columnas:grid;
$tamaño:40%;
$form--esp:4.5em 3em;
$radio: 10px;
$sombra: 0 5px 25px -5px rgb(0 0 0 / 30%);
